
<div class="container mt-3 mb-3 bg-light text-center">
     <i class="bi-badge-ad-fill" style="font-size: 1rem;"></i>
     <!-- EVKX Display Add Articles -->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-6415007331199958"
          data-ad-slot="2354595124"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
</div>
{{.Inner}}