<figure>
    {{ $url := .Get "thumb" | replaceRE "_st" "" }}
    {{ $random := delimit (shuffle (split (md5 $url) "" )) "" }}
    <div class="pswp-gallery" id="gallery--{{$random}}">
        <a href="https://media.evkx.net/multimedia/{{ $url }}">
            <img src="https://media.evkx.net/multimedia/{{ .Get "thumb" }}" alt="{{ .Get "title" }}" title="{{ .Get "title" }}" class="img-fluid" target="_blank">
        </a>
    </div>
   <figcaption>
        <p class="lead text-center fw-semibold">
            {{ .Get "title" }}
        </p>
    </figcaption>
</figure>
<script type="module">
    import PhotoSwipeLightbox from '/js/photoswipe-lightbox.esm.js';
      const lightbox = new PhotoSwipeLightbox({
         gallery: '#gallery--{{$random}} a',
          pswpModule: () => import('/js/photoswipe.esm.js')
      });
  lightbox.init();
  </script>