<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
   {{ partial "headstandard.html" . }}
<body data-url="{{ .RelPermalink }}" class="bg-light">
    {{ partial "navbar.html" . }}
	<div class="container p-0 bg-white">
      	{{ partial "addsensetop.html" . }}
      	<aside>
			{{ partial "menuaccordion-simple.html" . }}
      	</aside>
      	<main>
			<div class="row ms-0 me-0 mt-0 mb-0">
				<div class="col-12 col-xl-8 col-xxl-8 p-4" >
					{{ partial "breadcrumb.html" . }}
					{{ partial "sectiontabs.html" .}}
					<span class="fw-lighter" style="color: lightgray;">{{T "Last-Modified"}}{{ .Page.Lastmod | time.Format ":date_medium" }}</span>
					{{ partial "titleandcontent.html" . }}
					</div>
				<div class="col-xl-4 col-xxl-4 p-4 d-none d-lg-block">
					{{ partial "models-new.html" . }}
				</div>
			</div>

		</main>
		<footer class="container bg-dark">          
			{{ partial "footercontent.html" . }}
		</footer>
	</div> <!-- End container -->
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
