<div class="flex flex-col items-center space-y-6">
  <ul class="flex justify-center space-x-6">
    <li>
      <a class="text-white hover:text-gray-300 p-2 block" href="https://www.facebook.com/electrichasgoneaudi">  
        <i class="bi-facebook text-white text-2xl"></i>
      </a>
    </li>
    <li>
      <a class="text-white hover:text-gray-300 p-2 block" href="https://www.youtube.com/channel/UCIX5hOCjiv5eTeiJsB7hwkg">
        <i class="bi-youtube text-white text-2xl"></i>
      </a>
    </li>
    <li>
      <a class="text-white hover:text-gray-300 p-2 block" href="https://www.instagram.com/electrichasgoneaudi/">
        <i class="bi-instagram text-white text-2xl"></i>
      </a>
    </li>
    <li>
      <a class="text-white hover:text-gray-300 p-2 block" href="https://www.linkedin.com/company/electrichasgoneaudi/">
        <i class="bi-linkedin text-white text-2xl"></i>
      </a>
    </li>
    <li>
      <a class="text-white hover:text-gray-300 p-2 block" href="https://github.com/electrichasgoneaudi/">
        <i class="bi-github text-white text-2xl"></i>
      </a>
    </li>
  </ul>
  <a class="block" href="/">
    <img class="max-w-xs h-auto mx-auto block" src="/images/logo400b.png" alt="EVKX logo">
  </a>
</div>