<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="https://www.facebook.com/electrichasgoneaudi">  
      <i class="bi-facebook text-white"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.youtube.com/channel/UCIX5hOCjiv5eTeiJsB7hwkg">
      <i class="bi-youtube text-white"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.instagram.com/electrichasgoneaudi/">
      <i class="bi-instagram text-white"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/company/electrichasgoneaudi/">
      <i class="bi-linkedin text-white"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/electrichasgoneaudi/">
      <i class="bi-github text-white"></i>
    </a>
  </li>
  </ul>
  <a class="navbar-brand" href="/">
    <img class="img-fluid mx-auto d-block" src="/images/logo400.png" class="img-fluid" alt="EVKX logo">
  </a>