<div class="container p-3 mb-5 bg-body-tertiary rounded border">
<h3>{{ T "common-section-guides-title"}}</h3>
    <p>{{ T "common-section-guides-description"}}</p>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/evsearch/" class="a-list-rowLink">
                {{ T "common-section-guides-section-search"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/protectingbattery/" class="a-list-rowLink">
                {{ T "common-section-guides-section-preservebattery"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/understandingrange/" class="a-list-rowLink">
                {{ T "common-section-guides-section-understandingrange"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="/guides/vehicletypes/" class="a-list-rowLink">
                {{ T "common-section-guides-section-vehicletypes"}} 
            </a>
        </li>
    </ul>
</div>