  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta.html" . }}
    {{if .IsHome}}<title>Electric has gone Audi - Everything about all-electric Audis</title>{{else}}
    <title>{{ .Title }} :: electrichasgoneaudi.net</title>
    {{end}}
    <link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              'audi-blue': '#1eaef7',
              'audi-blue-light': '#cff0ff',
              'audi-blue-lighter': '#e3f7ff',
              'audi-blue-dark': '#0062ba',
              'audi-blue-darker': '#022f51',
              'audi-purple': '#3f3161',
              'audi-yellow': '#ffda06',
              'audi-green': '#17c96b',
              'audi-red': '#e23b53'
            }
          }
        }
      }
    </script>
    <link href="{{"css/photoswipe.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/bootstrap-icons.css" | relURL}}" rel="stylesheet">
    {{- $currentPage := . -}}
    {{- if .Site.IsMultiLingual -}}
    {{- range .AllTranslations -}}
    {{- if ne .Language.Lang $currentPage.Language.Lang }}
    <link rel="alternate" hreflang="{{ .Language }}" href="{{ .RelPermalink }}" />
    {{- end -}}
    {{- end -}}
    {{- end -}}
		{{ partial "googleanalytics.html" . }}
    {{ partial "addsenseauto.html" . }}
    <style>
    .image-box {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: calc(100% * (170 / 300));
    }
    .image-cropped-calc {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      </style>
  </head>
 
