
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{ T "language" }}
  </a>
  <ul class="dropdown-menu">
  {{- $currentPage := . -}}
  {{- if .Site.IsMultiLingual -}}
    {{- range .AllTranslations -}}
    <li>
      <a class="dropdown-item" href="{{ .RelPermalink }}">
        <img src="/images/{{ .Language }}.svg" width="20px" class="img-fluid" alt="Language flag" /> {{ .Language.LanguageName }}{{- if eq .Language.Lang $currentPage.Language.Lang }} ✓{{- end -}}
      </a>
    </li>
  {{- end -}}
  {{- end -}}
</ul>
</li>

