<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "common-section-latest-reviews"}}</h2>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/porsche/taycan/taycan_turbo_gt/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/MTh0hEwH1Do/sddefault.jpg" alt="FIRST LOOK: Porsche Taycan Turbo GT – Smashes Tesla’s Lap Record AGAIN!" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>FIRST LOOK: Porsche Taycan Turbo GT – Smashes Tesla’s Lap Record AGAIN!</h5>
				<p>Top Gear - 11.03.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/opel/astra/astra_sports_tourer_electric/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/00YwBuy0RI0/sddefault.jpg" alt="Opel Astra e-Tourer acceleration and noise test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Opel Astra e-Tourer acceleration and noise test</h5>
				<p>Bjørn Nyland - 06.03.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/opel/astra/astra_sports_tourer_electric/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/qitRk2OW_dY/sddefault.jpg" alt="Opel Astra-e Tourer banana box test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Opel Astra-e Tourer banana box test</h5>
				<p>Bjørn Nyland - 06.03.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/li_auto/mega/mega/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/prNvog3HFBoU/sddefault.jpg" alt="Li Auto MEGA: Forget What You Know About MPVs" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Li Auto MEGA: Forget What You Know About MPVs</h5>
				<p>Wheelsboy - 05.03.2024</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/peugot/3008/e-3008/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/94VtkXn9BX8/sddefault.jpg" alt="Peugeot E-3008 DRIVEN! Is the French rangemaster a star of 2024?" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>Peugeot E-3008 DRIVEN! Is the French rangemaster a star of 2024?</h5>
				<p>Electrifying - 03.03.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_pro/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/MuvSO68U-bc/sddefault.jpg" alt="VW ID7 Pro driving impressions and summary" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>VW ID7 Pro driving impressions and summary</h5>
				<p>Bjørn Nyland - 03.03.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_pro/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/HAky0r8n5sk/sddefault.jpg" alt="VW ID7 Pro 82 kWh charging test vs Tesla, Audi, Hyundai, BMW and Polestar" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>VW ID7 Pro 82 kWh charging test vs Tesla, Audi, Hyundai, BMW and Polestar</h5>
				<p>Bjørn Nyland - 02.03.2024</p>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box"> 
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_pro/reviews`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://img.youtube.com/vi/Gfo9lnhJVbI/sddefault.jpg" alt="VW ID7 Pro acceleration and noise test" class="img-fluid image-cropped-calc border" >
			</a>
				</div>
				<h5>VW ID7 Pro acceleration and noise test</h5>
				<p>Bjørn Nyland - 02.03.2024</p>
		</div>
	</div>
	</div>
