<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbar">EVKX.net</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav class="links w-100" id="evkx-nav" aria-label="evkx navigation">
      <div class="accordion accordion-flush" id="evkxmenuaccordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
              <i class="bi-search me-2"></i>{{ T "common-section-search-title"}}
            </button>
          </h2>
          <div id="collapseSearch" class="accordion-collapse collapse show" data-bs-parent="#evkxmenuaccordion">
            <div class="accordion-body">
              {{ T "common-section-search-description"}}
              <a href="{{ with .Site.GetPage `/evsearch/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-search-link"}}
              </a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseModels" aria-expanded="false" aria-controls="collapseModels">
            <i class="bi-car-front me-2"></i>   {{ T "common-section-models-title"}}
            </button>
          </h2>
          <div id="collapseModels" class="accordion-collapse collapse" data-bs-parent="#evkxmenuaccordion">
            <div class="accordion-body">
              {{ T "common-section-models-description"}}
              {{ $currentNode := . }}
              {{range .Site.Home.Sections.ByWeight }}
                {{ if strings.HasSuffix .RelPermalink "/models/" }}
                {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
                {{end}}
             {{end}}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#technology" aria-expanded="false" aria-controls="technology">
            <i class="bi-info-square me-2"></i>{{ T "common-section-technology-title"}}
            </button>
          </h2>
          <div id="technology" class="accordion-collapse collapse" data-bs-parent="#evkxmenuaccordion">
            <div class="accordion-body">
              {{ T "common-section-technology-description"}}
              {{ $currentNode := . }}
              {{range .Site.Home.Sections.ByWeight }}
              {{ if strings.HasSuffix .RelPermalink "/technology/" }}
                 {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
              {{end}}
              {{end}}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseGuides" aria-expanded="false" aria-controls="collapseGuides">
            <i class="bi-question-square me-2"></i>{{ T "common-section-guides-title"}}
            </button>
          </h2>
          <div id="collapseGuides" class="accordion-collapse collapse" data-bs-parent="#evkxmenuaccordion">
            <div class="accordion-body">
              {{ T "common-section-guides-description"}}
              {{ $currentNode := . }}
              {{range .Site.Home.Sections.ByWeight }}
              {{ if strings.HasSuffix .RelPermalink "/guides/" }}
              {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
              {{end}}
              {{end}}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseLanguage" aria-expanded="false" aria-controls="collapseLanguage">
            <i class="bi-translate me-2"></i>{{ T "language"}}
            </button>
          </h2>
          <div id="collapseLanguage" class="accordion-collapse collapse" data-bs-parent="#evkxmenuaccordion">
            <div class="accordion-body">
              {{ partial "language-switcheraccordion.html" . }}

            </div>
          </div>
        </div>
        </div>
    </nav>
  </div>
</div>

<!-- templates -->
{{ define "section-tree-nav2" }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{if .IsSection}}
{{safeHTML .Params.head}}
<li>
  <a href="{{ .RelPermalink}}" class="evkx-links-link d-inline-block rounded">
    {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
    {{ $numberOfPages :=  (len (where .Pages "Params.hidden" "ne" true)) }}
  </a>
  {{ if ne $numberOfPages 0 }}
  <ul class="list fw-normal pb-2 small">
    {{ .Scratch.Set "pages" .Pages }}
      {{ if .Sections}}
        {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
      {{end}}
    {{ $pages := (.Scratch.Get "pages") }}

    {{if eq .Site.Params.ordersectionsby "title"}}
      {{ range $pages.ByTitle }}
    {{ if and .Params.hidden (not $.showhidden) }}
      {{else}}
      {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
    {{end}}
    {{ end }}
    {{else}}
    {{ range $pages.ByWeight }}
    {{ if and .Params.hidden (not $.showhidden) }}
    {{else}}
    {{ template "section-tree-nav2" dict "sect" . "currentnode" $currentNode }}
    {{end}}
    {{ end }}
    {{end}}
  </ul>
  {{ end }}
</li>
{{else}}
{{ if not .Params.Hidden }}
<li data-nav-id="{{.RelPermalink}}" class="dd-item
       {{if eq .File.UniqueID $currentNode.File.UniqueID}}active{{end}}
        ">
  <a href="{{ .RelPermalink}}">
    {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}
  </a>
</li>
{{ end }}
{{ end }}
{{ end }}
{{ end }}


