<div class="container p-3 mb-5 bg-body-tertiary rounded border">
<h3>{{ T "common-section-mostsold-world-title"}}</h3>
<p>{{ T "common-section-mostsold-world-description"}}</p>

<ul class="list-group list-group-numbered">
    <ol class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/q4-e-tron/`}}{{.RelPermalink}}{{end}}">
            Audi Q4 e-tron
        </a>
    </ol>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/q6-e-tron/`}}{{.RelPermalink}}{{end}}">
            Audi Q6 e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/q8-e-tron/`}}{{.RelPermalink}}{{end}}">
            Audi Q8 e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/a4-e-tron/`}}{{.RelPermalink}}{{end}}">
            Audi A4 e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/a6-e-tron/`}}{{.RelPermalink}}{{end}}">
            Audi A6 e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/e-tron/`}}{{.RelPermalink}}{{end}}">
            Audi e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/e-tron-gt/`}}{{.RelPermalink}}{{end}}">
            Audi e-tron GT
        </a>
    </li>
</ul>
</div>