<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "common-section-mostsold-world-title"}}</h2>
<p>{{ T "common-section-mostsold-world-description"}}</p>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box">
					<a href="{{ with .Site.GetPage `/models/tesla/model_y/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
							<img src="https://media.evkx.net/multimedia/models/tesla/model_y/model_y_long_range/main_1_xst.jpg" alt="{{ T "common-section-technology-section-battery" }}" class="img-fluid image-cropped-calc border">
					</a>
				</div>
				<h5>Tesla Model Y </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/tesla/model_3/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/models/tesla/model_3/model_3_long_range/main_1_xst.jpeg" alt="{{ T "common-section-technology-section-adas"}}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Tesla Model 3</h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/byd/atto_3/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/models/byd/atto_3/atto_3/main_1_xst.jpg"  alt="{{ T "common-section-technology-section-motors" }}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Byd Atto 3</h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/byd/dolphin/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/models/byd/dolphin/dolphin_60.4kwh/main_1_xst.jpg"  alt="{{ T "common-section-technology-section-suspension" }} " class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Byd Dolphin</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.4/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.4/id.4_gtx_4motion_gen1/main_1_xst.jpg"  alt="{{ T "common-section-technology-section-brakes" }} " class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Volkswagen ID.4</h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/skoda/enyaq_iv/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/models/skoda/enyaq_iv/enyaq_coup%c3%a9_rs_iv/main_1_xst.jpg"  alt="{{ T "common-section-technology-section-lights" }}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Skoda Enyaq</h5>
			</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/hyundai/ioniq_5/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/models/hyundai/ioniq_5/ioniq_5_long_range_2wd/main_1_st.jpg"  alt=" {{ T "common-section-technology-section-regen" }} " class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>  Hyundai Ioniq 5</h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/polestar/2/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/models/polestar/2/2_long_range_dual_motor/main_1_st.jpg"  alt="{{ T "common-section-technology-section-seats"}}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Polestar 2</h5>
		</div>
	</div>
	</div>
