<div class="container p-3 mb-5 bg-body-tertiary rounded border">
<h3>{{ T "common-section-mostsold-world-title"}}</h3>
<p>{{ T "common-section-mostsold-world-description"}}</p>

<ul class="list-group list-group-numbered">
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/tesla/model_y/`}}{{.RelPermalink}}{{end}}">
            Tesla Model Y
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/tesla/model_3/`}}{{.RelPermalink}}{{end}}">
            Tesla Model 3
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/byd/atto_3/`}}{{.RelPermalink}}{{end}}">
            Byd Atto 3
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/byd/dolphin/`}}{{.RelPermalink}}{{end}}">
            Byd Dolphin
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/volkswagen/id.4/`}}{{.RelPermalink}}{{end}}">
            Volkswagen ID.4
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/skoda/enyaq_iv/`}}{{.RelPermalink}}{{end}}">
            Skoda Enyaq
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/bmw/ix/`}}{{.RelPermalink}}{{end}}">
            BMW iX
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/hyundai/ioniq_5/`}}{{.RelPermalink}}{{end}}">
            Hyundai Ioniq 5
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/audi/q4_e-tron/`}}{{.RelPermalink}}{{end}}">
            Audi Q4 e-tron
        </a>
    </li>
    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/hyundai/ioniq_6/`}}{{.RelPermalink}}{{end}}">
            Hyundai Ioniq 6
        </a>
    </li>

    <li class="list-group-item list-group-item-action">
        <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/models/polestar/2/`}}{{.RelPermalink}}{{end}}">
            Polestar 2
        </a>
    </li>
</ul>
</div>