<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "frontpage-sections-models-title"}}</h2>
<p>{{ T "frontpage-sections-models-description"}}</p>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box">
					<a href="{{ with .Site.GetPage `/models/q4-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
							<img src="https://media.electrichasgoneaudi.net/multimedia/models/q4-e-tron/exterior/paint/paint_typhoongrey_1_st.jpg" alt="Q4 e-tron" class="img-fluid image-cropped-calc border">
					</a>
				</div>
				<h5>Audi Q4 e-tron  </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/q6-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.electrichasgoneaudi.net/multimedia/models/q6-e-tron/exterior/paint/plasmablue_4_st.jpg" alt="Q6 e-tron" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Audi Q6 e-tron</h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/q8-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.electrichasgoneaudi.net/multimedia/articles/e-tron-facelift-q8-etron-2024/audi_sq8_front_article_st.jpeg"  alt="Q8 e-tron" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Audi Q8 e-tron </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/e-tron-gt/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.electrichasgoneaudi.net/multimedia/models/e-tron-gt/exterior/exterior_st.jpg"  alt="e-tron GT" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>Audi e-tron GT</h5>
		</div>
	</div>
	</div>
