<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/articles/audiurbanshpereconcept/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.electrichasgoneaudi.net/multimedia/articles/audiurbansphereconcept/audiurbanspshereconcept_frontpage.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>{{T "frontpage-article-urbanshpere-title"}}</h4>
				<p>{{T "frontpage-article-urbanshpere-synopsis"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/articles/activesphere/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.electrichasgoneaudi.net/multimedia/articles/activesphere/activesphere1_mt.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>{{T "frontpage-article-activesphere-title"}}</h4>
				<p>{{T "frontpage-article-activesphere-synopsis"}}</p>
			</a>
		</div>
	</div>
	</div>
