<div class="container">
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volvo/ec40/ec40_single_motor_er/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volvo/ec40/ec40_single_motor_er/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volvo EC40 Single Motor ER</h4>
				<p>{{T "frontpage-description-572f8b64"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volvo/ec40/ec40_single_motor/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volvo/ec40/ec40_single_motor/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volvo EC40 Single Motor</h4>
				<p>{{T "frontpage-description-3f41452e"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volvo/ex40/ex40_twin_motor/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volvo/ex40/ex40_twin_motor/main_1_st.jpg" width="800" height="450" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volvo EX40 Twin Motor</h4>
				<p>{{T "frontpage-description-ea07c9b5"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-6">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volvo/ex40/ex40_single_motor_er/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volvo/ex40/ex40_single_motor_er/main_1_st.jpg" width="800" height="450" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volvo EX40 Single Motor ER</h4>
				<p>{{T "frontpage-description-81608bf9"}}</p>
			</a>
		</div>
	</div>
	</div>
