{{ $currentNode := . }}
      {{range .Site.Home.Sections.ByWeight }}
      {{ template "section-tree-tabs" dict "sect" . "currentnode" $currentNode  }}
{{end}}
<!-- templates -->
{{ define "section-tree-tabs" }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
    {{ if and (eq . $currentNode) .Params.shownavtabs }}
    <ul class="nav nav-tabs bg-light mb-3">
      <li class="nav-item">
        {{if .Params.navicon }}
        <a class="nav-link active" aria-current="page" href="{{ .RelPermalink}}"><i class="{{ .Params.navicon }}"></i> {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
       {{else}}
       <a class="nav-link active" aria-current="page" href="{{ .RelPermalink}}">{{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
       {{end}}
      </li>
      {{ $numberOfPages :=  (len .Pages) }}
      {{ .Scratch.Set "pages" .Pages }}
        {{ if .Sections}}
          {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
        {{end}}
      {{ $pages := (.Scratch.Get "pages") }}
        {{ range $pages.ByWeight }}
            {{ template "section-tree-tabs2" dict "sect" . "currentnode" $currentNode}}
        {{ end }}
      </ul>
    {{ end }}
    {{ if and (eq . $currentNode) .Parent.Params.shownavtabs }}
     <ul class="nav nav-tabs bg-light mb-3">
       <li class="nav-item">
        {{if .Parent.Params.navicon }}
        <a class="nav-link" aria-current="page" href="{{ .Parent.RelPermalink}}"><i class="{{ .Parent.Params.navicon }}"></i> {{safeHTML .Params.Pre}}{{.Parent.LinkTitle}}{{safeHTML .Params.Post}}</a>
       {{else}}
       <a class="nav-link" aria-current="page" href="{{ .Parent.RelPermalink}}">{{safeHTML .Params.Pre}}{{.Parent.LinkTitle}}{{safeHTML .Params.Post}}</a>
       {{end}}
      </li>
      {{ .Scratch.Set "pages" .Parent.Pages }}
        {{ if .Sections}}
          {{ .Scratch.Set "pages" (.Pages | union .Parent.Sections) }}
        {{end}}
      {{ $pages := (.Scratch.Get "pages") }}
        {{ range $pages.ByWeight }}
            {{ template "section-tree-tabs2" dict "sect" . "currentnode" $currentNode   }}
        {{ end }}
     </ul>
    {{ end }}

    {{ $numberOfPages :=  (len .Pages ) }}
    {{ .Scratch.Set "pages" .Pages }}
      {{ if .Sections}}
        {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
      {{end}}
    {{ $pages := (.Scratch.Get "pages") }}
      {{ range $pages.ByWeight }}
          {{ template "section-tree-tabs" dict "sect" . "currentnode" $currentNode}}
      {{ end }}
{{ end }}
{{ end }}


{{ define "section-tree-tabs2" }}
{{ $currentNode := .currentnode }}
{{with .sect}}
{{safeHTML .Params.head}}
      <li class="nav-item">

        {{ if eq . $currentNode }}
          {{if .Params.navicon }}
           <a class="nav-link active" href="{{ .RelPermalink}}"><i class="{{ .Params.navicon }}"></i> {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
          {{else}}
          <a class="nav-link active" href="{{ .RelPermalink}}">{{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
          {{end}}
        {{else}}
          {{if .Params.navicon }}
          <a class="nav-link" href="{{ .RelPermalink}}"><i class="{{ .Params.navicon }}"></i> {{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
          {{else}}
          <a class="nav-link" href="{{ .RelPermalink}}">{{safeHTML .Params.Pre}}{{.LinkTitle}}{{safeHTML .Params.Post}}</a>
            {{end}}
        {{ end }}
      </li>
{{ end }}
{{ end }}