<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "common-section-technology-title"}}</h2>
<p>{{ T "common-section-technology-description"}}</p>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box">
					<a href="{{ with .Site.GetPage `/technology/battery/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
							<img src="https://media.evkx.net/multimedia/technology/battery/bmwixbattery_1_xst.jpg" alt="{{ T "common-section-technology-section-battery" }}" class="img-fluid image-cropped-calc border">
					</a>
				</div>
				<h5>{{ T "common-section-technology-section-battery" }}  </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/driverassistance/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/technology/driverassistance/adaptivecruisecontrol/illustration_xst.jpg" alt="{{ T "common-section-technology-section-adas"}}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-technology-section-adas"}}</h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/motors/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/technology/motors/asyncronmotor_xst.jpg"  alt="{{ T "common-section-technology-section-motors" }}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-technology-section-motors"}} </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/suspension/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/technology/suspension/mercedeseqesteel_xst.jpg"  alt="{{ T "common-section-technology-section-suspension" }} " class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-technology-section-suspension"}} </h5>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/brakes/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/technology/brakes/ceramicetrongt_xst.jpg"  alt="{{ T "common-section-technology-section-brakes" }} " class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5> {{ T "common-section-technology-section-brakes"}} </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/lights/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/technology/lights/audisq8lights_xst.jpg"  alt="{{ T "common-section-technology-section-lights" }}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-technology-section-lights"}} </h5>
			</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/regen/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/technology/regen/kiaev6regenpaddles_xst.jpg"  alt=" {{ T "common-section-technology-section-regen" }} " class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>  {{ T "common-section-technology-section-regen"}} </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/seats/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.evkx.net/multimedia/technology/seats/types/eqssuv680twinexecutiveseats_1_xst.jpg"  alt="{{ T "common-section-technology-section-seats"}}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-technology-section-seats"}} </h5>
		</div>
	</div>

    <a href="technology/" class="btn btn-outline-secondary"><b>{{ T "common-section-technology-gotosection"}} </b></a>
	</div>
