<div class="container p-3 mb-4 bg-body-tertiary rounded border">
<h2 class="a-h3">{{ T "common-section-technology-title"}}</h2>
<p>{{ T "common-section-technology-description"}}</p>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-3">
				<div class="mb-2 image-box">
					<a href="{{ with .Site.GetPage `/technology/battery/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
							<img src="https://media.evkx.net/multimedia/technology/battery/bmwixbattery_1_xst.jpg" alt="{{ T "common-section-technology-section-battery" }}" class="img-fluid image-cropped-calc border">
					</a>
				</div>
				<h5>{{ T "common-section-technology-section-battery" }}  </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/technology/bev-platforms/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.electrichasgoneaudi.net/multimedia/technology/bev-platforms/platforms_st.jpg" alt="{{ T "common-section-technology-section-adas"}}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-technology-section-platforms"}}</h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/guides/regen/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.electrichasgoneaudi.net/multimedia/guides/regen/recuperation_st.png"  alt="{{ T "common-section-technology-section-motors" }}" class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-technology-section-regen"}} </h5>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/guides/understandingrange/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
					<img src="https://media.electrichasgoneaudi.net/multimedia/guides/understandingrange/audia6etron_st.jpg"  alt="{{ T "common-section-technology-section-suspension" }} " class="img-fluid image-cropped-calc border">
			</a>
				</div>
				<h5>{{ T "common-section-guides-section-understandingrange"}} </h5>
		</div>
	</div>
	<a href="technology/" class="btn btn-outline-secondary"><b>{{ T "common-section-technology-gotosection"}} </b></a>
	</div>
