<div class="container">
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volvo/ex40/ex40_single_motor/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volvo/ex40/ex40_single_motor/main_1_st.jpg" width="800" height="450" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volvo EX40 Single Motor</h4>
				<p>{{T "frontpage-description-cf09af6f"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/honda/prologue/prologue_fwd/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/honda/prologue/prologue_fwd/main_1_st.jpg" width="800" height="538" class="img-fluid image-cropped-calc">
				</div>
				<h4>Honda Prologue FWD</h4>
				<p>{{T "frontpage-description-89f7e5ac"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/dacia/spring/spring_65hp/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/dacia/spring/spring_65hp/main_1_st.jpg" width="800" height="452" class="img-fluid image-cropped-calc">
				</div>
				<h4>Dacia Spring 65HP</h4>
				<p>{{T "frontpage-description-6fb4c17f"}}</p>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/cupra/born/born_vz/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/cupra/born/born_vz/main_1_st.jpg" width="800" height="457" class="img-fluid image-cropped-calc">
				</div>
				<h4>CUPRA BORN VZ</h4>
				<p>{{T "frontpage-description-fa4ec0c9"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_tourer_pro_s/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.7/id.7_tourer_pro_s/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volkswagen ID.7 Tourer Pro S</h4>
				<p>{{T "frontpage-description-f24e04cd"}}</p>
			</a>
		</div>
		<div class="col-12 col-md-4">
				<div class="mb-2 image-box">
			<a href="{{ with .Site.GetPage `/models/volkswagen/id.7/id.7_tourer_pro/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/volkswagen/id.7/id.7_tourer_pro/main_1_st.jpg" width="800" height="533" class="img-fluid image-cropped-calc">
				</div>
				<h4>Volkswagen ID.7 Tourer Pro</h4>
				<p>{{T "frontpage-description-62414ec7"}}</p>
			</a>
		</div>
	</div>
	</div>
