 <div class="container p-3 mb-5 bg-body-tertiary rounded border">
    <h3>{{ T "common-section-technology-title"}}</h3>
    <p>{{ T "common-section-technology-description"}}</p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/battery/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-battery"}}  
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/driverassistance/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-adas"}}
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/motors/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-motors"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/suspension/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-suspension"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/brakes`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-brakes"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/lights/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-lights"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/regen/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-regen"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/seats/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-seats"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/sensorsandcameras/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-sensors"}} 
            </a>
        </li>
        <li class="list-group-item list-group-item-action">
            <a class="text-decoration-none text-black" href="{{ with .Site.GetPage `/technology/userinterface/`}}{{.RelPermalink}}{{end}}">
                {{ T "common-section-technology-section-ui"}} 
            </a>
        </li>
    </ul>
</div>