<div class="container">
	<div class="row">
		<div class="col-12">
				<div class="mb-2">
			<a href="{{ with .Site.GetPage `/models/xpeng/g6/g6_awd_performance/`}}{{.RelPermalink}}{{end}}" class="text-decoration-none text-black">
					<img src="https://media.evkx.net/multimedia/models/xpeng/g6/g6_awd_performance/main_1_mt.jpg" width="1200" height="702" class="img-fluid">
				</div>
				<h4>XPENG G6 AWD Performance</h4>
				<p>{{T "frontpage-description-f2ab9bce"}}</p>
			</a>
		</div>
	</div>
</div>
