<!-- start custom-head.html -->
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          'audi-blue': '#1eaef7',
          'audi-blue-light': '#cff0ff',
          'audi-blue-lighter': '#e3f7ff',
          'audi-blue-dark': '#0062ba',
          'audi-blue-darker': '#022f51',
          'audi-purple': '#3f3161',
          'audi-yellow': '#ffda06',
          'audi-green': '#17c96b',
          'audi-red': '#e23b53'
        }
      }
    }
  }
</script>
<link href="{{"css/custom.css" | relURL}}" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQJ52X3264"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-ZQJ52X3264');
</script>