<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta.html" . }}
    {{if .IsHome}}
    <title>{{T "frontpage-title"}}</title>
    {{else}}
    <title>{{ .Title }} :: ElectricHasGoneAudi.net</title>
    {{end}}
    <link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
    <link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/hybrid.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/horsey.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/fortawesome.css" | relURL}}" rel="stylesheet">
    <link href="{{"css/designsystem.css" | relURL}}" rel="stylesheet">
    {{with .Site.Params.themeStyle}}
    <link href="{{(printf "css/%s.css" .) | relURL}}" rel="stylesheet">
    {{else}}
    <link href="{{"css/theme.css" | relURL}}" rel="stylesheet">
    {{end}}
    {{with .Site.Params.themeVariant}}
      <link href="{{(printf "css/theme-%s.css" .) | relURL}}" rel="stylesheet">
    {{end}}
    
    <script src="{{"js/jquery-2.x.min.js" | relURL}}"></script>

    {{ partial "custom-head.html" . }}

    <style>
      :root #header + #content > #left > #rlblock_left {
        display:none !important;
      }
    </style>


  </head>
  <body class="a-page" data-url="{{ .RelPermalink }}">
    {{ partial "topbar.html" . }}

    {{ if and (.IsHome) (.Params.jumbotron) }}
      {{ partial "jumbotron.html" . }}
    {{end}}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 mb-12">
                <a href="{{ with .Site.GetPage `/articles/audidna/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="articles/audidna/audidna_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-audidna-title"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h2">{{T "frontpage-article-audidna-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-audidna-synopsis"}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mb-5">
                <a href="{{ with .Site.GetPage `/articles/secrettrials/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="articles/secrettrials/secrettrials_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-secrettrials-title"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h3">{{T "frontpage-article-secrettrials-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-secrettrials-synopsis"}}</p>
                   
                </a>
            </div>
            <div class="col-12 col-lg-6 mb-5">
                <a href="{{ with .Site.GetPage `/articles/updatedq4/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="articles/updatedq4/q4update_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-updatedq4-title"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h2">{{T "frontpage-article-updatedq4-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-updatedq4-synopsis"}}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-5">
                <a href="{{ with .Site.GetPage `/guides/regen/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="guides/regen/pikespeak_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-regenerativebraking-title"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h3">{{T "frontpage-article-regenerativebraking-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-regenerativebraking-synopsis"}}</p>
                   
                </a>
            </div>
            <div class="col-12 col-lg-6 mb-5">
                <a href="{{ with .Site.GetPage `/articles/chargehub/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="articles/chargehub/chargehub_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-chargehub-title"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h3">{{T "frontpage-article-chargehub-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-chargehub-synopsis"}}</p>
                   
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-5">
                <a href="{{ with .Site.GetPage `/articles/electromobilityinwinter/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="articles/electromobilityinwinter/electromobilityinwinter_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-electromobilityinwinter-title"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h3">{{T "frontpage-article-electromobilityinwinter-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-electromobilityinwinter-synopsis"}}</p>
                   
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <a href="{{ with .Site.GetPage `/articles/electromobilityinwinter/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="articles/electromobilityinwinter/electromobilityinwinter_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-electromobilityinwinter-title"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h3">{{T "frontpage-article-electromobilityinwinter-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-electromobilityinwinter-synopsis"}}</p>
                   
                </a>
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <a href="{{ with .Site.GetPage `/articles/thermalmanagementwinter/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                    <div class="">
                        <img src="articles/thermalmanagementwinter/thermalmanagementwinter_frontpage.jpg">
                        <div class="a-illustration-overlay">
                            <span class="sr-only">{{T "frontpage-article-thermalmanagementwinter-synopsis"}}</span>
                        </div>
                    </div>
                    <h2 class="a-h3">{{T "frontpage-article-thermalmanagementwinter-title"}}</h2>
                    <p class="a-js-truncate-2">{{T "frontpage-article-thermalmanagementwinter-synopsis"}}</p>
                   
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row adocs-featuredBlocks">
        <div class="col-12 col-lg-4 mb-5">
            <a href="{{ with .Site.GetPage `/models/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                <h2 class="a-h3">{{T "frontpage-sections-models-title"}}</h2>
                <p class="a-js-truncate-2">{{T "frontpage-sections-models-description"}}</p>
                <div class="a-illustration-icon">
                    <img src="/images/models.png">
                    <div class="a-illustration-overlay">
                        <span class="sr-only">{{T "frontpage-sections-models-title"}}</span>
                    </div>
                </div>
            </a>
            <div class="a-list-container mb-2 mx-auto mx-lg-2">
                <ul class="a-list a-list-noIcon">
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/e-tron/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi e-tron
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/e-tron-gt/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi e-tron GT
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/q4-e-tron`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi Q4 e-tron
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/q5-e-tron`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi Q5 e-tron
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/q6-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi Q6 e-tron
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/q8-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi Q8 e-tron
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/a4-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi A4 e-tron
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/models/a6-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi A6 e-tron
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-5">
            <a href="{{ with .Site.GetPage `/technology/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                <h2 class="a-h3">{{T "frontpage-sections-technology-title"}}</h2>
                <p class="a-js-truncate-2">{{T "frontpage-sections-technology-description"}}</p>
                <div class="a-illustration-icon">
                    <img src="/images/technology.png">
                    <div class="a-illustration-overlay">
                        <span class="sr-only">Gå til tema: Teknologi</span>
                    </div>
                </div>
            </a>
            <div class="a-list-container mb-2 mx-auto mx-lg-2">
                <ul class="a-list a-list-noIcon">
                <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/technology/bev-platforms`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    BEV Platforms
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/technology/battery/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    EV Battery
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/technology/audiconnect/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    Audi connect
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-5">
              <a href="{{ with .Site.GetPage `/guides/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                  <h2 class="a-h3">{{T "frontpage-sections-guides-title"}}</h2>
                  <p class="a-js-truncate-2">{{T "frontpage-sections-guides-description"}}</p>
                  <div class="a-illustration-icon">
                      <img src="/images/guides.png">
                      <div class="a-illustration-overlay">
                          <span class="sr-only">Go to guide</span>
                      </div>
                  </div>
              </a>
              <div class="a-list-container mb-2 mx-auto mx-lg-2">
                  <ul class="a-list a-list-noIcon">
                      <li class="a-dotted a-clickable a-list-hasRowLink">
                          <a href="{{ with .Site.GetPage `/guides/onepedaldriving/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                              <div class="row">
                                  <div class="col">
                                    {{T "guide-one-pedal-driving"}}
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="a-dotted a-clickable a-list-hasRowLink">
                          <a href="{{ with .Site.GetPage `/guides/protectingbattery/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                              <div class="row">
                                  <div class="col">
                                    {{T "guide-preserving-battery"}}
                                   </div>
                              </div>
                          </a>
                      </li>
                      <li class="a-dotted a-clickable a-list-hasRowLink">
                          <a href="{{ with .Site.GetPage `/guides/understandingrange/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                              <div class="row">
                                  <div class="col">
                                    {{T "guide-understanding-range"}}
                                  </div>
                              </div>
                          </a>
                      </li>
                      <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/guides/checkingbatteryhealth/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    {{T "guide-checking-battery"}}
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="a-dotted a-clickable a-list-hasRowLink">
                        <a href="{{ with .Site.GetPage `/guides/regen/`}}{{.RelPermalink}}{{end}}" class="a-list-rowLink">
                            <div class="row">
                                <div class="col">
                                    {{T "guide-regen"}}
                                </div>
                            </div>
                        </a>
                    </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-12 col-lg-12 mb-12">
        <script async src="https://cse.google.com/cse.js?cx=f03718c964e0a8d16"></script>
        <div class="gcse-search"></div>
      </div>
<br>
      <div class="adocs-caseBlock a-bgBlueDark">
          <div class="row mx-sm-0 mb-6 mb-lg-8">
              <div class="col-12 col-md-5 p-0">
                  <div class="">
                      <img src="/images/buying2s.jpg" class="mx-4 mt-4" alt="Buying guide">
                  </div>
              </div>
              <div class="col-12 col-md-7 d-flex flex-column align-self-center pl-3 pl-md-5 pl-lg-0 pr-4 pr-lg-8">
                  <h2 class="a-fontSizeXL mb-1">{{T "guide-buying-title"}}</h2>
                  <p class="a-fontSizeS mb-4">{{T "guide-buying-description"}}</p>
                  <ul>
                    <li>
                        <a href="{{ with .Site.GetPage `/models/e-tron/optionguide/`}}{{.RelPermalink}}{{end}}">
                            {{T "guide-options-etron"}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ with .Site.GetPage `/models/q4-e-tron/optionguide/`}}{{.RelPermalink}}{{end}}">
                            {{T "guide-options-q4-etron"}}
                        </a>
                    </li>
                    <li>
                        <a href="{{ with .Site.GetPage `/models/e-tron-gt/optionguide/`}}{{.RelPermalink}}{{end}}">
                            {{T "guide-options-etron-gt"}}
                        </a>
                    </li>
                  </ul>
                  <br>
                
              </div>
          </div>
       </div>



      <div class="adocs-scrollcontainer d-none">
        <div class="row">
            <div class="col-sm-12">

        <section>
          <div id="content" class="adocs-content js-moveChildrenTo">
        <div id="overlay"></div>
        <div class="a-text">
        <div id="body-inner"> 