<footer class="adocs-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/electrichasgoneaudi">Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCIX5hOCjiv5eTeiJsB7hwkg">Youtube</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/electrichasgoneaudi/">Instagram</a>
                    </li>
                    <li>
                        <a href="https://github.com/electrichasgoneaudi/">Github</a>
                    </li>
                    <li>
                        <a href="{{ with .Site.GetPage `/articles/about/`}}{{.URL}}{{end}}">{{T "footer-about"}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>