<div class="max-w-full mx-auto px-4">
    <div class="flex flex-wrap">
        <div class="w-full mb-12">
            <a href="{{ with .Site.GetPage `/models/q6-e-tron/`}}{{.RelPermalink}}{{end}}"
                class="a-illustrationLink">
                <div class="relative">
                    <img class="w-full h-64 md:h-96 object-cover rounded-lg"
                        src="https://media.electrichasgoneaudi.net/multimedia/models/q6-e-tron/prototypetestdrive_1_mt.jpg">
                    <div class="a-illustration-overlay">
                        <span class="sr-only">{{T "frontpage-article-prototypetestdrive-title"}}</span>
                    </div>
                </div>
                <h2 class="a-h2 mt-4">{{T "frontpage-article-prototypetestdrive-title"}}</h2>
                <p class="a-js-truncate-2">{{T "frontpage-article-prototypetestdrive-synopsis"}}</p>
            </a>
        </div>
    </div>
</div>

<div class="max-w-full mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-5">
            <a href="{{ with .Site.GetPage `/models/q6-e-tron/`}}{{.RelPermalink}}{{end}}"
            class="a-illustrationLink">
            <div class="relative">
                <img class="w-full h-48 md:h-64 object-cover rounded-lg"
                    src="https://media.electrichasgoneaudi.net/multimedia/models/q6-e-tron/wintertesting_1_mt.jpg">
                <div class="a-illustration-overlay">
                    <span class="sr-only">{{T "frontpage-article-q6wintertesting-title"}}</span>
                </div>
            </div>
            <h2 class="a-h2 mt-4">{{T "frontpage-article-q6wintertesting-title"}}</h2>
            <p class="a-js-truncate-2">{{T "frontpage-article-q6wintertesting-synopsis"}}</p>
        </a>
        </div>
        <div class="w-full lg:w-1/2 px-4 mb-5">
            <a href="{{ with .Site.GetPage `/articles/activesphere/`}}{{.RelPermalink}}{{end}}"
            class="a-illustrationLink">
            <div class="relative">
                <img class="w-full h-48 md:h-64 object-cover rounded-lg"
                    src="https://media.electrichasgoneaudi.net/multimedia/articles/activesphere/activesphere1_mt.jpg">
                <div class="a-illustration-overlay">
                    <span class="sr-only">{{T "frontpage-article-activesphere-title"}}</span>
                </div>
            </div>
            <h2 class="a-h2 mt-4">{{T "frontpage-article-activesphere-title"}}</h2>
            <p class="a-js-truncate-2">{{T "frontpage-article-activesphere-synopsis"}}</p>
        </a>
        </div>
    </div>
    <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-5">
            <a href="{{ with .Site.GetPage `/articles/q8production/`}}{{.RelPermalink}}{{end}}"
            class="a-illustrationLink">
            <div class="relative">
                <img class="w-full h-48 md:h-64 object-cover rounded-lg"
                    src="https://media.electrichasgoneaudi.net/multimedia/articles/q8production/production1_mt.jpg">
                <div class="a-illustration-overlay">
                    <span class="sr-only">{{T "frontpage-article-q8production-title"}}</span>
                </div>
            </div>
            <h2 class="a-h2 mt-4">{{T "frontpage-article-q8production-title"}}</h2>
            <p class="a-js-truncate-2">{{T "frontpage-article-q8production-synopsis"}}</p>
        </a>
        </div>
        <div class="w-full lg:w-1/2 px-4 mb-5">
            <a href="{{ with .Site.GetPage `/articles/e-tron-facelift-q8-etron-2024/`}}{{.RelPermalink}}{{end}}"
            class="a-illustrationLink">
            <div class="relative">
                <img class="w-full h-48 md:h-64 object-cover rounded-lg"
                    src="https://media.electrichasgoneaudi.net/multimedia/articles/e-tron-facelift-q8-etron-2024/audi_sq8_front_article_mt.jpeg">
                <div class="a-illustration-overlay">
                    <span class="sr-only">{{T "frontpage-article-q8worldpremiere-title"}}</span>
                </div>
            </div>
            <h2 class="a-h2 mt-4">{{T "frontpage-article-q8worldpremiere-title"}}</h2>
            <p class="a-js-truncate-2">{{T "frontpage-article-q8worldpremiere-synopsis"}}</p>
        </a>
        </div>
    </div>
    <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/3 px-4 mb-5">
            <a href="{{ with .Site.GetPage `/models/q8-e-tron/`}}{{.RelPermalink}}{{end}}" class="a-illustrationLink">
                <div class="relative">
                    <img class="w-full h-48 object-cover rounded-lg" src="https://media.electrichasgoneaudi.net/multimedia/models/q8-e-tron/cannonball_2m.jpg">
                    <div class="a-illustration-overlay">
                        <span class="sr-only">{{T "frontpage-article-etronfaceliftprototype-title"}}</span>
                    </div>
                </div>
                <h2 class="a-h2 mt-4">{{T "frontpage-article-etronfaceliftprototype-title"}}</h2>
                <p class="a-js-truncate-2">{{T "frontpage-article-etronfaceliftprototype-synopsis"}}</p>
            </a>
        </div>
        <div class="w-full lg:w-1/3 px-4 mb-5">
            <a href="{{ with .Site.GetPage `/models/comparisons/q4etron50vsetron55/`}}{{.RelPermalink}}{{end}}"
                class="a-illustrationLink">
                <div class="relative">
                    <img class="w-full h-48 object-cover rounded-lg"
                        src="https://media.electrichasgoneaudi.net/multimedia/models/comparisons/q4etron50vsetron55/etronvsq4_frontpage.jpg">
                    <div class="a-illustration-overlay">
                        <span class="sr-only">{{T "frontpage-article-etronvsq4-title"}}</span>
                    </div>
                </div>
                <h2 class="a-h2 mt-4">{{T "frontpage-article-etronvsq4-title"}}</h2>
                <p class="a-js-truncate-2">{{T "frontpage-article-etronvsq4-synopsis"}}</p>
            </a>
        </div>
        <div class="w-full lg:w-1/3 px-4 mb-5">
            <a href="{{ with .Site.GetPage `/articles/audiurbanshpereconcept/`}}{{.RelPermalink}}{{end}}"
            class="a-illustrationLink">
            <div class="relative">
                <img class="w-full h-48 object-cover rounded-lg"
                    src="https://media.electrichasgoneaudi.net/multimedia/articles/audiurbansphereconcept/audiurbanspshereconcept_frontpage.jpg">
                <div class="a-illustration-overlay">
                    <span class="sr-only">{{T "frontpage-article-urbanshpere-title"}}</span>
                </div>
            </div>
            <h2 class="a-h2 mt-4">{{T "frontpage-article-urbanshpere-title"}}</h2>
            <p class="a-js-truncate-2">{{T "frontpage-article-urbanshpere-synopsis"}}</p>
        </a>
        </div>
    </div>
</div>