<div class="bg-cover bg-center bg-no-repeat text-white" style="background-color: #000000; background-image: url('{{$.Site.BaseURL}}images/jumbotron2.jpg')">

  <div class="max-w-full mx-auto px-4">
      <div class="flex flex-wrap">
          <div class="w-5/6 mx-auto sm:ml-1/12">
              <span class="block">
                <h1 class="text-4xl font-bold mb-4">{{T "frontpage-jumbotron-title"}}</h1>
                <p class="text-lg">{{T "frontpage-jumbotron-description"}}</p>
              </span>
          </div>
      </div>
  </div>
</div>
