<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark" style="background-color: #000000; background-image: url('{{$.Site.BaseURL}}images/jumbotron2.jpg')">

  <div class="container">
      <div class="row">
          <div class="col-10 offset-sm-1">
              <span class="a-jumbotron-ingress">
                <h1>{{T "frontpage-jumbotron-title"}}</h1>
                {{T "frontpage-jumbotron-description"}}
              </span>
          </div>
      </div>
  </div>
</div>
