<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark" style="background-color: #000000; background-image: url('{{$.Site.BaseURL}}images/jumbotron2.jpg')">

  <div class="container">
      <div class="row">
          <div class="col-10 offset-sm-1">
              <span class="a-jumbotron-ingress">
                <h1>Everything about all-electric cars from Audi</h1>
                Electrichasgoneaudi.net is the ultimate guide to all-electric cars from Audi. On this site, you find every detail about technology and functionality on previous, current, and future models from Audi. The site is community-driven and everyone can contribute.
              </span>
          </div>
      </div>
  </div>
</div>
