<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
    <li><a class="sr-only sr-only-focusable" href="#docsmenu">Hopp til meny</a></li>
  </ul>
</nav>

<header class="a-header ">
  <!-- Begin .container -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Begin .a-globalNav -->
        <nav class="a-globalNav " id="primary-nav">
          <a href="{{ with .Site.GetPage `/`}}{{.URL}}{{end}}" class="a-globalNav-logo">
            <img src="/images/logo.png" alt="Audi logo"
              class="an-logo adocs-logo">

          
          </a>

          <button class="navbar-toggler d-md-none" type="button"><span class="sr-only">Vis/skjul meny</span></button>
          <div class="collapse navbar-toggleable-sm a-globalNav-main" id="exCollapsingNavbar2">
            <ul id="exCollapsingNavbar">
              <li class="d-md-none dropdown">
                {{- partial "language-switcher.html" . -}}
              </li>
              <li>
                <a class="a-hvr-underline" href="{{ with .Site.GetPage `/models/`}}{{.URL}}{{end}}">
                   {{ T "menu-models"}}
                </a>
              </li>
              <li>
                <a class="a-hvr-underline " href="{{ with .Site.GetPage `/technology/`}}{{.URL}}{{end}}">
                  {{ T "menu-technology"}} 
                </a>
              </li>
              <li>
                <a class="a-hvr-underline" href="{{ with .Site.GetPage `/guides/`}}{{.URL}}{{end}}">
                  {{ T "menu-guides"}} 
                </a>
              </li>
              <li>
                <a class="a-hvr-underline" href="{{ with .Site.GetPage `/articles/`}}{{.URL}}{{end}}">
                  {{ T "menu-articles"}} 
                </a>
              </li>
            </ul>
          </div>

        </nav> <!-- End .a-globalNav -->
        <ul class="nav nav-pills a-header-options" id="nav-list">
          <li class="nav-item dropdown d-none d-md-block">
            {{- partial "language-switcher.html" . -}}
          </li>
        </ul>
        
      </div><!-- End .col -->
    </div> <!-- End .row -->
  </div> <!-- End .container -->
</header>


